# Ignore VSCode settings folder
.vscode/

#ignore these directories whole
/plots/
/tex/
!tex/acm/main.pdf
/scripts/

#Keep test_set
/data/*
!/data/.gitkeep
!/data/test_set/
!/data/test_set/**

#Keep mwis_smart
/programs/*
!/programs/.gitkeep
!/programs/mwis_smart/
!/programs/mwis_smart/**
!/programs/graph_to_gr_format_converter/
!/programs/graph_to_gr_format_converter/**

#Keep build directory as empty folder
/build/**
!build/.gitkeep

#Unused source files
/src/storage.cpp
/src/storage.h
